/* GENERAL FONT DEFINITION */
body {
    font-family: tahoma, verdana, sans;
    font-size: 11px;
    line-height: 170%;
    color: #666666;
    margin: 0;
    padding: 0;
}

a {
    color: #666666;
}

#main {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

#header {
    width: 100%;
    height: 90px;
    background: #FFFFFF url(header2.jpg) no-repeat top right
}

#mainMenu {
    width: 100%;
    height: 28px;
    background: url(bar_fill_menu.png) repeat-x bottom left;
    font-weight: bold;
    padding-top: 7px;
}

#menuList {
    display: inline;
    padding: 0;
    margin: 0;
    list-style: none;
}

#menuList li {
    display: inline;
    margin: 0;
    padding: 0;
}

#menuList a.menu,a.menu:hover {
    padding: 11px;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

#menuList a.menu:hover {
    background: url(tri.png) no-repeat bottom center;
}

#sidepan {
    width: 250px;
    background: #CCCCCC;
}

#mainContent {
    padding: 0.3em;
}

#footer {
    color: #FFFFFF;
    text-align: center;
    clear: both;
    height: 31px;
    background: url(bar_fill_menu.png) repeat-x bottom left;
    margin: 0;
    padding-top: 9px;
}

#footer * {
    color: #FFFFFF;
}

#searchForm, #dataList {
    width: 100%;
    font-weight: bold;
    border: 1px solid #999999;
    background: #CCCCCC url(gradien_short.jpg) repeat-x bottom left;
    margin-bottom: 5px;
}

#dataList {
    background: #CCCCCC;
    font-weight: normal;
    margin-bottom: 0;
}

#headerImage {
    margin-top: 5px;
    float: left;
    width: 80px;
    height: 80px;
    background: url(logo.png) no-repeat top left;
    margin-left: 10px;
}

#libraryName {
    float: left;
    padding-top: 20px;
    font-size: 21px;
    font-weight: bold;
    margin-left: 10px;
}

#loader {
    height: 29px;
    padding-top: 11px;
    padding-left: 10px;
    background: #CCCCCC;
}

#colorLoader {
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;
    -moz-opacity: 0;
}

.objectDragger, .objectDragger:hover {
    height: 10px;
    background: #999999 url(drag_button.png) no-repeat top center;
    border: 1px solid #666666;
    border-top-width: 0;
}

.objectDragger:hover {
    background: #CCCCCC no-repeat top center;
    cursor: move;
}

.subMenuHeader {
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    background: url(section_bar_fill.png) no-repeat top left;
    padding-top: 9px;
    padding-left: 37px;
    height: 31px;
}

.heading {
    font-weight: bold;
    font-size: 14px;
    border: 0 dotted #003380;
    border-bottom-width: 1px;
}

/* link for the currently selected module */
.curModuleLink {
    background-image: url(bar_fill.png);
    color: #FFFFFF;
}

/* tabular data */
.dataListHeader {
    font-weight: bold;
    background: #FFFFFF url(bar_fill.png) top left repeat-x;
    color: #FFFFFF;
}

.dataListHeader a {
    color: #FFFFFF;
}

.dataListHeader a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* general box element class */
.marginTop {
    margin-top: 5px;
}

.infoBox {
    margin: 3px;
    border: 1px #999999 solid;
    padding: 5px;
    padding-left: 70px;
    min-height: 50px;
    background: url(infobox_img.png) no-repeat -5px -5px;
}

.errorBox {
    margin: 3px;
    border: 1px #550000 dotted;
    padding: 5px;
    padding-left: 70px;
    min-height: 50px;
    color: #550000;
    background: url(error.png) no-repeat -5px -5px;
}

.border {
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
}

.fullWidth {
    width: 100%;
}

.makeHidden {
    display: none;
}

.makeVisible {
    display: block;
}

iframe {
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
}

.alterCell, .alterCell2 {
    background-color: #CCCCCC;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
}

.alterCell2 {
    background-color: #FFFFFF;
}


/* module submenu hyperlink specific */
.subMenuItem, .subMenuItem:hover, .curModuleLink, .subMenuItem2, .subMenuItem2:hover {
    display: block;
    padding: 5px;
    padding-left: 20px;
    margin: 0;
    margin-top: 3px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 97%;
    text-decoration: none;
    background-image: url(submenu_img.png);
    background-position: left;
    background-repeat: no-repeat;
}

.subMenuItem:hover, .curModuleLink, .subMenuItem2:hover {
    background-image: url(submenu_img_hover.png);
    background-position: left;
    background-repeat: no-repeat;
    color: #444444;
}

/* form element specific */
.button {
    font-size: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #0e6101;
    background-image: url(gradien_short.jpg);
    background-position: bottom left;
}

select option {
    font-weight: normal;
}

input,textarea,select {
    border-style: solid;
    border-color: #727272;
    border-width: 1px;
    font-size: 100%;
}

input:hover,textarea:hover,select:hover {
    border-color: #f18e00;
    border-style: solid;
    border-width: 1px;
}

/* tab button class */
.tab {
    display: inline;
    border-style: solid;
    border-color: #999999;
    border-width: 1px;
    border-bottom-width: 0px;
    font-size: 97%;
    font-weight: bold;
    background-color: #CCCCCC;
    background-image: url(gradien_short.jpg);
    background-position: bottom;
    height: 30px;
    margin-right: 1px;
    text-decoration: none;
}

/* tab button class */
.tab, .tabSelected {
    display: inline;
    border: 1px solid #999999;
    border-bottom-width: 0px;
    font-size: 97%;
    font-weight: bold;
    background: #CCCCCC url(gradien_short.jpg) bottom;
    height: 30px;
    margin-right: 1px;
}

.tab:hover, .tabSelected {
    border: 1px solid #FF0000;
    border-bottom-width: 0px;
    color: #FF0000;
}

.imageLeft {
    padding-left: 59px;
    background: url(biblio.png) no-repeat -15px 5px;
}

/* AJAX drop down list */
.ajaxDDlist {
    display: none;
    position: absolute;
    border: 1px solid #727272;
    border-top: 0;
    margin: 0;
    padding: 0;
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #CCCCCC;
    list-style-type: none;
    list-style-position: outside;
}

.ajaxDDlist > li {
    margin: 0;
    padding: 0;
}

.ajaxDDlist > li > .DDlink,.DDlink:hover {
    display: block;
    padding: 2px;
    text-decoration: none;
}

.ajaxDDlist > li > .DDlink:hover {
    background-color: #FFFFFF;
}
