
/***  Skin Styles  ***/

body { background-image: url("../../images/skins/skin-2/Bg.jpg"); color: #474747;}	/* background image and default font color */
body, #SlideShow-Images { background-color: #302825; }	/* primary background color */

/* main content area */
#MainPage { border-color: #fff; background: #fff; }	/* page background (for content areas)  */

/* logo */
#LogoHeader				{ background-image: url("../../images/skins/skin-2/logo-Large.png"); }
#LogoHeader.logoMedium	{ background-image: url("../../images/skins/skin-2/logo-Medium.png"); }

/* showcase & footer*/
#Showcase, .alternate #FooterWrapper	{ border-color: #706C63; background-color: #1E1A17;							/* border color, bg color */
										  background-image: url("../../images/skins/skin-2/showcase-BgRepeat.jpg"); }	/* background image */
#ShowcaseContent, 
.alternate #FooterContent	{ background-image: url("../../images/skins/skin-2/showcase-Bg.jpg"); }
#FooterWrapper				{ background-image: url("../../images/skins/skin-2/Footer-Bg.png"); }

/* links */
a:link, a:visited	{ color: #3A5161; }
a:hover, a:active	{ color: #81AFD1; }

	/* box style links */
	a.boxLink:link, a.boxLink:visited	{ color: #fff; background-color: #8EA5B3; }
	a.boxLink:hover, a.boxLink:active 	{ background-color: #81AFD1; }

	/* Main Menu */
	#MainMenu a:link, #MainMenu a:visited	{ color: #C3CFD9; }	/* menu links - top level items */
	#MainMenu a:hover, #MainMenu a:active	{ color: #fff; }
	
	/* mega menu */
	ul#MegaMenu .sub ul li { color: #fff; }
	ul#MegaMenu .sub ul li a:link, ul#MegaMenu .sub ul li a:visited { color: #C3CFD9; }			/* menu links - sub menus */
	ul#MegaMenu .sub ul li a:hover, ul#MegaMenu .sub ul li a:active { color: #fff; }
	ul#MegaMenu .sub ul li h2 a:link, ul#MegaMenu .sub ul li h2 a:visited { color: #fff; }		/* menu titles */
	ul#MegaMenu .sub ul li h2 a:hover, ul#MegaMenu .sub ul li h2 a:active { color: #C3CFD9; }

	/* top content sections and footer links */
	#FooterContent a:link, #FooterContent a:visited, #Showcase a:link, #Showcase a:visited, #PageOverlay a:link, #PageOverlay a:visited { color: #C3CFD9; }
	#FooterContent a:hover, #FooterContent a:active, #Showcase a:hover, #Showcase a:active, #PageOverlay a:hover, #PageOverlay a:active { color: #fff; }
	
/* headings */
h1, h2, h3, h4, h5, h6, .headline, .title, #fancybox-title-main { color: #1E1A17; }
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong, .headline strong	{ color: #FF13A6;}
h1 .subTitle, h2 .subTitle, h3 .subTitle, h4 .subTitle, h5 .subTitle, h6 .subTitle, .headline .subTitle, .title .subTitle	{ color: #999;}
.headline	{ color: #000; }

	/* for dark backgrounds */
	.pageTitle, #Showcase h1, #Showcase h2, #Showcase h3, #Showcase h4, #Showcase h5, #Showcase h6,
	#PageOverlay h1, #PageOverlay h2, #PageOverlay h3, #PageOverlay h4, #PageOverlay h5, #PageOverlay h6,
	#MainMenu h1, #MainMenu h2, #MainMenu h3, #MainMenu h4, #MainMenu h5, #MainMenu h6  { color: #fff; }

/* text */
blockquote				{ border-left-color: #bbb;}	
code, pre				{ background-color: #E8EBEC; border-color: #bbb; color: #333; }
.impact					{ color: #444; }
.callout				{ color: #000; background-color: #EEEBEA; border-color: #D6CCC9; }	/* quote container */
.callout cite			{ color: #747474; }
.copyright, #Showcase	{ color: #A49D99; }	/* footer and showcase text */
#PageOverlay			{ color: #E9E3C7; }	/* page header text */

/* side navigation - bullets */
ul.sideNav li a:link, ul.sideNav li a:visited							{ color: #999; }		/* sub-navigation - link */
ul.sideNav li a:hover, ul.sideNav li a:active							{ color: #132128; }		/* sub-navigation - hover */
ul.sideNav li.currentPage a:link, ul.sideNav li.currentPage a:visited	{ color: #555; }		/* sub-navigation - current page */
ul.sideNav li {background-image: url("../../images/skins/skin-2/hr-Small.gif"); }
ul.sideNav li a { background-image: url("../../images/skins/skin-2/bullet-nav.gif");  }

/* forms and inputs */
input, textarea			{ color: #333; }
textarea, .textInput	{ background-color: #E9E9E4; border-color: #D2D2C8; }	/* input */
.textInput.inputFocus	{ background-color: #F4F4F2; border-color: #C1C1B5; }								/* input - focus */
label.overlabel 		{ color: #C1C1B5; } /* overlabel text */

/* search */
#SearchInput 					{ color: #fff; }	/* search text */
#Search							{ background-image: url("../../images/skins/skin-2/SearchBg.gif"); }

/* common styles */
.hr				{ background-image: url("../../images/skins/skin-2/hr-Large.gif"); }
.hr-small		{ background-image: url("../../images/skins/skin-2/hr-Small.gif"); }

/* pagination */
.pagination a			{ border-color: #D3D3D3; background: #fff; }
.pagination a.current 	{ border-color: #BCBCBC; background: #D8D9DA; }
	
/* sidebar */
.sidebar		{ background-image: url("../../images/skins/skin-2/subMenu-leftRepeat.gif"); }
.sidebarBox-1	{ background-image: url("../../images/skins/skin-2/subMenu-leftTop.gif"); }
.sidebarBox-2	{ background-image: url("../../images/skins/skin-2/subMenu-leftBottom.gif");}

/* sidebar - right */
.last .sidebar		{ background-image: url("../../images/skins/skin-2/subMenu-repeat.gif"); }
.last .sidebarBox-1	{ background-image: url("../../images/skins/skin-2/subMenu-top.gif"); }
.last .sidebarBox-2	{ background-image: url("../../images/skins/skin-2/subMenu-bottom.gif"); }

		
/* breadcrumbs */
.breadcrumbs	{ color: #999; background-image: transparent url("../../images/skins/skin-2/hr-Small.gif"); }
.breadcrumbs a:link, .breadcrumbs a:visited	{ color: #999; }
.breadcrumbs a:hover, .breadcrumbs a:active	{ color: #333; }

/* buttons */
button.btn		{ background-image: url("../../images/skins/skin-2/button-sprite.gif"); }
button.btn span	{ background-image: url("../../images/skins/skin-2/button-sprite.gif"); color: #747474; }	/* button text */
button.btn:hover span, button.btnHover span { color: #434747; text-shadow: #E8F0F0 1px 1px 0px; }			/* button text - hover */
	
/* top */
#Top			{ background-image: url("../../images/skins/skin-2/topMenu-Repeat.png"); }	/* top menu bg */
#TopContainer	{ background-image: url("../../images/skins/skin-2/topMenu-Middle.png"); }

/* featured nav buttons */
#FeaturedPrev { background-image: url("../../images/skins/skin-2/Featured-ButtonPrev.png"); }
#FeaturedNext { background-image: url("../../images/skins/skin-2/Featured-ButtonNext.png"); }

/* page header */
#PageTop 						{ background-image: url("../../images/skins/skin-2/pageOverlay-Top.png"); }	/* page header bg */
#PageWrapper					{ background-image: url("../../images/skins/skin-2/Page-Bg.png"); }
#PageOverlay 					{ background-image: url("../../images/skins/skin-2/pageOverlay-Repeat.jpg"); }
#PageOverlayContent 			{ background-image: url("../../images/skins/skin-2/pageOverlay-Middle.jpg"); }
.alternate #PageOverlay 		{ background-image: url("../../images/skins/skin-2/pageOverlay-FullRepeat.png"); }
.alternate #PageOverlayContent 	{ background-image: url("../../images/skins/skin-2/pageOverlay-FullMiddle.png"); }
	
/* blog post */
.postTitle 		{ background-image: url("../../images/skins/skin-2/hr-Small.gif"); }
.blogPostInfo 	{ color: #999; background-image: url("../../images/skins/skin-2/hr-Small.gif"); }

/* faq's page */
.faqs li 		{ background-image: url("../../images/skins/skin-2/hr-Small.gif"); }

/* drop down container */
ul#MegaMenu li a span.mm-arrow { background-image: url("../../images/skins/skin-2/mm-arrows.gif"); }
ul#MegaMenu .sub ul li a { background-image: url("../../images/skins/skin-2/MegaMenu-Sub-Bullet.gif"); }
.mm-sub-tr { background-image: url("../../images/skins/skin-2/MegaMenu-Sub-TR.png"); }
.mm-sub-tl { background-image: url("../../images/skins/skin-2/MegaMenu-Sub-TL.png"); }
.mm-sub-tm { background-image: url("../../images/skins/skin-2/MegaMenu-Sub-TM.png"); }
.mm-sub-br { background-image: url("../../images/skins/skin-2/MegaMenu-Sub-BR.png"); }
.mm-sub-bl { background-image: url("../../images/skins/skin-2/MegaMenu-Sub-BL.png"); }
.mm-sub-bm { background-image: url("../../images/skins/skin-2/MegaMenu-Sub-BM.png"); }
.mm-sub-r { background-image: url("../../images/skins/skin-2/MegaMenu-Sub-R.png"); }
.mm-sub-l { background-image: url("../../images/skins/skin-2/MegaMenu-Sub-L.png"); }
.mm-sub-m { background-image: url("../../images/skins/skin-2/MegaMenu-Sub-Repeat.gif"); }
